@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

body{
  background-color: rgb(14, 13, 13);
}

@layer components{
  .btnScale{
    transform: scale(1);
    transition: transform 0.6s ease-in-out,filter 0.6s ease-in-out;
  }

  .btnScale:hover{
    transform: scale(1.1);
    filter: brightness(90%)
  }

  .cardHover{
    transform: translateY(0px);
    box-shadow: 0px 0px 0px;
    transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
  }

  .cardHover:hover{
    transform: translateY(-20px);
    box-shadow: 0px 0px 10px red;
  }
}


