@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}



@layer components{
  .btnHover{
    transform: scale(1);

    transition: transform 0.6s ease-in-out, filter 0.6s ease-in-out;;
  }

  .btnHover:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: brightness(90%);
  }
}


